<div class="sobre-nosotros">
    <div class="contenedor">
        <div class="sobre-nosotros-grid">
            <div class="imagen-nosotros">
                <img src="assets/img/habitacion-gaming.jpg" alt="Habitación Gaming">
            </div>
            <div class="texto-nosotros">
                <h2>Sobre Nosotros</h2>
                <p>Somos una tienda especializada en productos de tecnología de alta calidad. Nos apasiona proporcionar a nuestros clientes las últimas novedades en ratones, teclados, laptops y más, para que puedan disfrutar al máximo de su experiencia tecnológica.</p>
                <p>Nuestra misión es ofrecer productos de primera calidad a precios asequibles, garantizando la satisfacción de nuestros clientes en cada compra.</p>
                <p>¡Únete a nuestra comunidad tecnológica y descubre un mundo de posibilidades con MindFest!</p>
            </div>
        </div>
    </div>
</div>

