
<div class="hero"></div>

<section class="sobre-nosotros">
    <div class="contenedor sobre-nosotros-grid">
        <div class="texto-nosotros">
            <h2>Sobre Nosotros</h2>
            <p>Somos una tienda especializada en productos de tecnología de alta calidad. Nos apasiona proporcionar a nuestros clientes las últimas novedades en ratones, teclados, laptops y más, para que puedan disfrutar al máximo de su experiencia tecnológica.
            Nuestra misión es ofrecer productos de primera calidad a precios asequibles, garantizando la satisfacción de nuestros clientes en cada compra.
            ¡Únete a nuestra comunidad tecnológica y descubre un mundo de posibilidades con MindFest!</p>
        </div>
    </div>
</section>

<main class="contenedor">
    <div class="contenedor-principal">
        <div class="mouse ">
            <h2><a href="">Mouse</a></h2>
        </div>
    </div>
    
    <div class="productos">

        <div class="producto">
            <img src="../../../assets/img/forgeon-perdition-raton-gaming-rgb-16000dpi.webp" alt="">
            <div class="txt-producto">
                <h3>Forgeon Perdition RGB Ratón Gaming 16.000 DPI Negro</h3>
                <p class="precio">$59.99</p>
                <a href="#">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../assets/img/1135-krom-kick-raton-gaming-12000-dpi-negro.webp" alt="">
            <div class="txt-producto">
                <h3 class="tempest-doom">Krom Kick Ratón Gaming 12000 DPI Negro</h3>
                <p class="precio">$24.99</p>
                <a href="#">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../assets/img/forgeon-perdition-raton-gaming-rgb-16000dpi.webp" alt="">
            <div class="txt-producto">
                <h3>Tempest X2 Custodian RGB Ratón Gaming 8000 DPI Negro</h3>
                <p class="precio">$11.99</p>
                <a href="#">Agregar al carrito</a>
            </div>
        </div>
    </div>

    <div class="contenedor-principal-t">
        <div class="mouse-t">
            <h2><a href="">Teclados</a></h2>
        </div>
    </div>
    
    <div class="productos">

        <div class="producto">
            <img src="../../../assets/img/tempest-diablo-teclado-mecanico-gaming-rgb-switch-red.webp" alt="">
            <div class="txt-producto">
                <h3>Tempest Diablo Teclado Mecánico Gaming RGB Switch Red</h3>
                <p class="precio">$59.99</p>
                <a href="#">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../assets/img/1277-tempest-doom-rgb-h-teclado-mecanico.webp" alt="">
            <div class="txt-producto">
                <h3 class="tempest-doom">Tempest Doom H-Mech Teclado RGB</h3>
                <p class="precio">$24.99</p>
                <a href="#">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../assets/img/1474-newskill-serike-v2-teclado-mecanico-gaming-rgb-blanco-newswitch-red.webp" alt="">
            <div class="txt-producto">
                <h3>Newskill Serike V2 Teclado Mecánico Gaming RGB Blanco NewSwitch Red</h3>
                <p class="precio">$84.90</p>
                <a href="#">Agregar al carrito</a>
            </div>
        </div>
    </div>

    <div class="contenedor-principal-t">
        <div class="mouse">
            <h2><a href="">Laptops</a></h2>
        </div>
    </div>
    
    <div class="productos">

        <div class="producto">
            <img src="../../../assets/img/1898-asus-tuf-gaming-f15.webp" alt="">
            <div class="txt-producto">
                <h3>ASUS TUF Gaming F15 FX506HE-71BT5PS1 Intel Core i7-11800H/16GB/512GB SSD/RTX 3050Ti/15.6'' (PT)</h3>
                <p class="precio">$962.89</p>
                <a href="#">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../assets/img/1852-msi-stealth.webp" alt="">
            <div class="txt-producto">
                <h3>MSI Stealth GS66 12UE-263XES Intel Core i7-12700H/32GB/1TB SSD/RTX 3060/15.6" Reacondicionado</h3>
                <p class="precio">$1220.55</p>
                <a href="#">Agregar al carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../assets/img/1785-msi-stealth-gs66.webp" alt="">
            <div class="txt-producto">
                <h3 >MSI Stealth GS66 12UHS-006ES Intel Core i7-12700H/32GB/1TB SSD/RTX 3080Ti/15.6" Reacondicionado</h3>
                <p class="precio">$2428.15</p>
                <a href="#">Agregar al carrito</a>
            </div>
        </div>
    </div>

    
</main>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-col">
            <h4>Sobre MindFest</h4>
            <ul>
                <li><a href="#">Nuestra Historia</a></li>
                <li><a href="#">Misión y Visión</a></li>
                <li><a href="#">Equipo</a></li>
                <li><a href="#">Carreras</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Ayuda</h4>
            <ul>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Soporte</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Contacta con Nosotros</h4>
            <ul>
                <li><a href="mailto:info@mindfest.com">Email: info.com</a></li>
                <li><a href="tel:+123456789">Teléfono: +593 990836436</a></li>
                <li><a href="#">Dirección: 123, Machala, Ecuador</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Síguenos</h4>
            <div class="social-links-footer">
                <a routerLink="#"><i class="fa fa-facebook"></i></a>
                <a routerLink="#"><i class="fa fa-x"></i></a>
                <a routerLink="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 MindFest. Todos los derechos reservados.</p>
    </div>
</footer>

